
/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    height: 100%;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.banner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*justify-content: space-between;*/
    align-items: center;
    padding: 10px;
    background-color:white;
    min-height: 60px;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}

footer {
    border-top: 1px solid rgba(0,0,0,.0975);
    padding: 10px;
    background-color:white;
    min-height: 60px;
    text-align: right;
}

.banner > *, footer > * {
    margin: 10px 25px;
}

.nav {
    list-style-type: none;
    padding: 0;
}

.nav-item {
    margin: auto;
    padding: 5px;
    padding-right: 25px;
    display: inline;
    list-style-type: none;
}

.post {
    max-width: 640px;
    overflow: hidden;
    margin: 30px auto;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    color: white;
    text-align: left;
}

.post-image {
    width: 640px;
    height: 640px;
}

@media screen and (max-width: 500px) {
    .post {
        border: none;
        border-bottom: 1px solid rgba(0,0,0,.0975);
        border-top: 1px solid rgba(0,0,0,.0975); 
        max-height: 60vh;
    }

    .post-image {
        max-width: 100%;
        max-height: 60vh;
    }

    #feed > * {
        flex: 1 1 45%;
        height: auto;
    }
}

/* Add your styles here */
a {
    text-decoration: none;
    color: 	 #838487;
    padding: 10px 15px;
    font-size: 20px;
    letter-spacing: 0.24px;
}

a:hover {
    font-weight: bold;
    letter-spacing: 0px;
}

#large-feed {
    text-align: center;
    padding: 50px;
}

.main-content-box {
    background: #2D2D2D;
    padding: 50px;
    border-radius: 10px;
    display: inline-block;
}

.submit-buttons {
    background: white;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    padding: 10px 0px 10px 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.input-text-boxes {
    padding: 10px 10px 10px 10px;
    outline: none;
}