
/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    height: 100%;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.banner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*justify-content: space-between;*/
    position: fixed;
    width: 100%;
    align-items: center;
    padding: 10px;
    background-color:white;
    min-height: 60px;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}

footer {
    border-top: 1px solid rgba(0,0,0,.0975);
    background-color:white;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
}

.banner > *, footer > * {
    margin: 10px 25px;
}

.nav {
    list-style-type: none;
    padding: 0;
}

.nav-item {
    margin: auto;
    padding: 5px;
    padding-right: 25px;
    display: inline;
    list-style-type: none;
}

.post {
    max-width: 640px;
    overflow: hidden;
    margin: 30px auto;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    color: white;
    text-align: left;
}

.post-image {
    width: 640px;
    height: 640px;
}

@media screen and (max-width: 500px) {
    .post {
        border: none;
        border-bottom: 1px solid rgba(0,0,0,.0975);
        border-top: 1px solid rgba(0,0,0,.0975); 
        max-height: 60vh;
    }

    .post-image {
        max-width: 100%;
        max-height: 60vh;
    }

    #feed > * {
        flex: 1 1 45%;
        height: auto;
    }
}

/* Add your styles here */
a {
    text-decoration: none;
    color: 	 #838487;
    padding: 10px 15px;
    font-size: 20px;
    letter-spacing: 0.24px;
}

a:hover {
    font-weight: bold;
    letter-spacing: 0px;
}

#large-feed {
    text-align: center;
    padding: 100px;
}

.main-content-box {
    background: #2D2D2D;
    padding: 50px;
    border-radius: 10px;
    display: inline-block;
}

.submit-buttons {
    background: white;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    padding: 10px 0px 10px 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.input-text-boxes {
    padding: 10px 10px 10px 10px;
    outline: none;
}

.name {
    display: inline-block;
    color: white;
    padding-left: 15px;
}

.comments {
    padding-left: 15px;
    font-size: 15px;
    color: aquamarine;
}

.likes {
    padding-left: 15px;
    font-size: 15px;
    color: aquamarine;
}

.viewLikes {
    color: aquamarine;
    font-size: 15px;
}

.date {
    font-size: 15px;
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.5);
    float: left;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.15);
    width: 100%;
    height: 100%;
}

.modal-header {
    color: white;
    background: #2d2d2d;
    padding: 5px 20px 5px 20px;
    margin: 80px auto 0px auto;
    width: 500px;
}

.modal-content {
    background: #2d2d2d;
    padding: 0px 20px 0px 20px;
    overflow: auto;
    margin: auto;
    color: white;
    width: 500px;
    height: 750px;
}

.modal-footer {
    border: 1px solid rgba(255, 255, 255, 0.15);
    color: white;
    background: #2d2d2d;
    padding: 20px 22px 0px 16px;
    margin: auto;
    width: 500px;
    height: 150px;
}

.exit {
    float: right;
}

.comment {
    text-align: left;
    overflow-wrap: break-word;
    font-size: 12px;
    float: left;
    padding: 3px 0px 0px 10px;
}

.user {
    padding: 10px 0px 0px 0px;
    color: white;
    float: left;
}

#profileForm {
    text-align: left;
    float: left;
    overflow-wrap: break-word;
}

#error {
    font-size: 15px;
    color: aquamarine;
    text-align: center;
    display: none;
}

#upload {
    padding: 10px;
    background: white;
    display: inline-block;
}

input[type='file'] {
    display: none;
}

textarea {
    resize: none;
    width: 390px;
    height: 100px;
}